* {
  font-family: 'Acme', sans-serif;
}

header {
  background-color: skyblue;
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

.webName {
  color:navy;
}

.headerLink {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin-right: 20px;
}

.linkStyle:visited {
color: black;
}

.panel {
  display:flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 200px 20px 10px;
}

button:hover {
  cursor: pointer;
}

.submitButton {
  border: 1px solid royalblue;
  color:royalblue;
  background-color: white;
  border-radius: 4px;
  padding: 10px 200px;
}

.createButton {
  border: 1px solid royalblue;
  color:royalblue;
  background-color: white;
  border-radius: 4px;
  padding: 10px 150px;
}

.messageButton {
  border: 1px solid royalblue;
  color:royalblue;
  background-color: white;
  border-radius: 4px;
  padding: 10px 130px;
}

.functionalButton {
  border: 1px solid dimgray;
  color:dimgray;
  background-color: white;
  border-radius: 4px;
  padding: 8px 50px;
  margin: 5px;
  font-size: 15px;
}

.loginButton {
  border: 1px solid royalblue;
  color:royalblue;
  background-color: white;
  border-radius: 4px;
  padding: 8px 80px;
}

.logoutButton {
  border: 1px solid black;
  color:black;
  background-color: skyblue;
  border-radius: 4px;
  font-size: 20px;
}

.posts {
  width: 100vh;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.sent {
  color: orangered;
}